body {
    margin: 0;
    padding: 100px;
}
#headline {
    background: #c3b5b5;
    height: 60px;
    width: 1920px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
}
#sideline {
    background: #636363;
    height: calc(100vh - 60px);
    left: 0;
    align-items: center;
}





