body {
    margin: 10;
}
#headline {
    background: #9C9784;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}
#sideline {
    background: #8B9491; 
    position: fixed;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 10vh);
    width: 20%;
    left: 0;
    top: 10vh;
    bottom: 0;
    align-items: center;
    padding-top: 20px;
    justify-content: flex-start;
    box-sizing: border-box;
}













