body {
    margin: 0;
    padding: 100px;
}
.box {
    background: #c3b5b5;
    height: 60px;
    width: 1920px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    .box.button1 {
        align-self: auto;
    }
}



